/* Font imports */

@font-face {
    font-family: "Gotham";
    src: url("fonts/GothamRounded-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("fonts/GothamRounded-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("fonts/GothamRounded-BookItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

/* Layout */

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    margin: 0;
    color: #4A4A4A;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 4.8%;
    overflow: hidden;
}

section {
    margin-bottom: 70px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Typography */

h2 {
    position: relative;
    margin-top: 0;
    padding: 0 5%;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
}
h2:before, h2:after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    height: 1px;
    background: #707070;
}
h2:before {
    left: -50vw;
    right: calc(100%);
}
h2:after {
    left: calc(100%);
    right: -50vw;
}

h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
}

p {
    margin: 0;
    line-height: 1.8;
}
p + p {
    margin-top: 1em;
}

a {
    color: inherit;
}
a:hover {
    opacity: 0.75;
}

blockquote {
    margin: 0;
    font-size: 26px;
    font-style: italic;
    line-height: 1.3;
}
blockquote:before, blockquote:after {
    content: '"';
}

/* Other */

.call-to-action {
    margin-top: 25px;
}

/* Utilities */

.invisible {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
